<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BikeShop - Home</title>

    <!--Link Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!--Link CSS-->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!--Link Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <!--Link Fontawesome-->
    <script src="https://kit.fontawesome.com/b4579259c4.js"></script>
</head>

<body>
    <div class="container">
        <!--The header-->
        <div class="row" id="shop-header">
            <div class="col-12">
                <img id="logo-header" src="/images/bike-logo.svg" alt="" /> The Bike Shop
                Experience
            </div>
        </div>

        <!--The header background-image-->
        <div class="row" id="shop-background"></div>

        <!--The bikes-->
        <div class="row">
            <% for(var i = 0 ; i < dataBike.length ; i++){ %>
            <div class="col-12 col-sm-6 col-md-4 bike-card">
                <div class="card text-center">
                    <img class="card-img-top" src="<%=dataBike[i].url%>">
                    <div class="card-body">
                        <h5 class="card-title"><%=dataBike[i].name%></h5>
                        <span class="shop-price"><%=dataBike[i].price%>€</span>
                        <a href="/shop" class="btn btn-outline-info btn-sm">Buy</a>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</body>

</html>